<div class="container-fluid col-6">
<%= link_to "new", new_reminder_type_url %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody><% c=0 %>
    <% @reminder_types.each do |t|%>
    <tr>
        <% c+=1 %>
      <th scope="row"><%= c %></th>
      <td><%= t.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>